@font-face {
  font-family: Inter;
  src: url(../public/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;

    font-family: 'Inter';
    font-style: normal;
  }

  @media (min-width: 1400px){
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1180px !important;
    }
  }
  

  a{
    text-decoration: none !important;
  }
  
  body {
    background-color: #2C2B41 !important;
    color: #ffffff !important;
  }